# i3 config file
set $mod Mod4
set $alt Mod1
set $terminal lxterminal

set_from_resource $darkred     color1  #000000
set_from_resource $red         color9  #000000
set_from_resource $darkgreen   color2  #000000
set_from_resource $green       color10 #000000
set_from_resource $darkyellow  color3  #000000
set_from_resource $yellow      color11 #000000
set_from_resource $darkblue    color4  #000000
set_from_resource $blue        color12 #000000
set_from_resource $darkmagenta color5  #000000
set_from_resource $magenta     color13 #000000
set_from_resource $darkcyan    color6  #000000
set_from_resource $cyan        color14 #000000
set_from_resource $darkwhite   color7  #000000
set_from_resource $white       color15 #000000
# Custom black colors
set $black       #282828
set $darkblack   #1d2021
set $transparent #00000000

set $height 30

set $default_gaps_inner 10
set $default_gaps_outer 0
gaps inner $default_gaps_inner
gaps outer $default_gaps_outer

workspace_auto_back_and_forth yes
force_display_urgency_hint 0 ms

floating_minimum_size -1 x -1
floating_maximum_size -1 x -1

font pango:Hack 12

#                       BORDER      BACKGROUND  TEXT        INDICATOR   CHILD_BORDER
client.focused          $black      $black      $darkwhite  $darkblack  $darkblack
client.unfocused        $black      $black      $white      $darkblack  $darkblack
client.focused_inactive $black      $black      $white      $darkblack  $darkblack
client.urgent           $darkred    $darkred    $black      $darkred    $darkred
client.background       $black

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

bindsym $mod+d exec --no-startup-id dmenu_run
bindsym $mod+Return exec --no-startup-id exec $terminal
bindsym $alt+f exec --no-startup-id firefox
bindsym $mod+Control+w exec --no-startup-id $terminal --title="__nmtui" -e "nmtui-connect"

# enable tranceparency
exec --no-startup-id xcompmgr -c -n -f -D 5

# Start unclutter
exec --no-startup-id unclutter --timeout 3 --fork --ignore-scrolling

# kill focused window
bindsym $mod+Shift+q kill

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+h move left 35px
bindsym $mod+Shift+j move down 35px
bindsym $mod+Shift+k move up 35px
bindsym $mod+Shift+l move right 35px

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left 35px
bindsym $mod+Shift+Down move down 35px
bindsym $mod+Shift+Up move up 35px
bindsym $mod+Shift+Right move right 35px

# split in horizontal orientation
bindsym $mod+semicolon split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
#bindsym $mod+s layout stacking
#bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
#bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym h resize shrink width 10 px or 10 ppt
        bindsym j resize grow height 10 px or 10 ppt
        bindsym k resize shrink height 10 px or 10 ppt
        bindsym l resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

# Media Keys, and i3blocks signals
bindsym XF86AudioPrev exec --no-startup-id playerctl previous
bindsym XF86AudioPlay exec --no-startup-id playerctl play-pause
bindsym XF86AudioNext exec --no-startup-id playerctl next
bindsym XF86AudioMute exec --no-startup-id amixer -q sset Master toggle && pkill -SIGRTMIN+10 i3blocks
bindsym XF86AudioRaiseVolume exec --no-startup-id amixer -q sset Master 5%+ unmute && pkill -SIGRTMIN+10 i3blocks
bindsym XF86AudioLowerVolume exec --no-startup-id amixer -q sset Master 5%- unmute && pkill -SIGRTMIN+10 i3blocks

# Screen Brightness Controls
bindsym XF86MonBrightnessUp exec xbacklight -inc 20
bindsym XF86MonBrightnessDown exec xbacklight -dec 20

# Lock Screen
set $Locker exec i3lock-fancy --no-text --pixelate --blur=2x2
bindsym $mod+Shift+p $Locker

# Suspend system and Lock Screen
bindsym $mod+Shift+s $Locker && systemctl suspend

# Set background
exec --no-startup-id sh ~/.fehbg
exec --no-startup-id wal -R

# HDMI Display controls
# TODO setup a better control for this
bindsym $mod+w exec --no-startup-id xrandr --output HDMI1 --auto --scale-from 2560x1440
bindsym $mod+Shift+w exec --no-startup-id xrandr --output HDMI1 --off

# fix graphics glitches
new_window none

for_window [window_role="pop-up"] floating enable
for_window [window_role="bubble"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="Preferences"] floating enable

for_window [window_type="dialog"] floating enable
for_window [window_type="menu"] floating enable

for_window [class="(?i)gsimplecal"] floating enable, move position mouse, move down $height px
for_window [class="(?i)VirtualBox" title="(?i)Manager"] floating enable
for_window [class="(?i)VirtualBox"] floating enable
for_window [class="(?i)nm-connection-editor"] floating enable

for_window [title="__nmtui"] floating enable

bar {
    status_command i3blocks
    i3bar_command i3bar -t
    position bottom
    font pango:Hack 11
    tray_padding 0
    height $height
    colors {
#        statusline      $white
#        background      $transparent
#        separator       $transparent

#                          BORDER       BACKGROUND   TEXT
#        focused_workspace  $transparent $transparent $darkwhite
#        inactive_workspace $transparent $transparent $white
#        active_workspace   $transparent $transparent $white
#        urgent_workspace   $darkred     $darkred     $transparent
#        binding_mode       $darkred     $darkred     $transparent
    }
}

# Start polybar
#exec_always --no-startup-id $HOME/.config/polybar/launch.sh
