* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Hack Regular Nerd Font Complete Mono", Monospace;
  font-size: 20px;
  /* border: none; */
  /* border-radius: 0; */
  /* min-height: 0; */
}

window#waybar {
  background: #3f3f3f;
  color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
  color: #3f3f3f;
  background: #1a1a1a;
}

/*
window#waybar.hidden {
  opacity: 0.2;
}
window#waybar.empty {
  background-color: transparent;
}
window#waybar.solo {
  background-color: #FFFFFF;
}
window#waybar.chromium {
  background-color: #000000;
  border: none;
}
window#waybar.termite {
  background-color: #3F3F3F;
}
*/

/*
#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  border-bottom: 3px solid transparent;
}
https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
  border-bottom: 1px solid #ffffff;
}
#workspaces button.focused {
  background-color: #64727D;
  border-bottom: 3px solid #ffffff;
}
#workspaces button.urgent {
  background-color: #eb4d4b;
}
#mode {
  background-color: #64727D;
  border-bottom: 3px solid #ffffff;
}
*/

#workspaces button {
  padding: 0 4px;
  color: #fdf6e3;
}
#workspaces button.focused {
  color: #268bd2;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: #1a1a1a;
  border: #1a1a1a;
  padding: 0 3px;
}

#workspaces,
#custom-media,
#mpd,
#pulseaudio,
#network,
#memory,
#cpu,
#temperature,
#backlight,
#battery,
#clock,
#tray {
  background: #1a1a1a;
  color: #ffffff;
}

#custom-media,
#mpd,
#pulseaudio,
#network,
#memory,
#cpu,
#temperature,
#backlight,
#battery,
#clock,
#tray {
  padding: 0 10px;
}

#custom-media {
  color: #48b685;
}

#pulseaudio {
  color: #f0c674;
}

#network {
  color: #96b5b4;
}

#memory {
  color: #b48ead;
}

#cpu {
  color: #8fa1b3;
}

#temperature {
  color: #bf616a;
}

#backlight {
  color: #ebcb8b;
}

#backlight {
  color: #cecb00;
}

#battery {
  color: #a3be8c;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

label:focus {
  background-color: #000000;
}
